{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Producto 1</h1>
    </div>

    <div class="col-8">
        <img src="assets/img/iphone.jpg" class="img-thumbnail">
    </div>
</div>